<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard | CashMash</title>

  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/dashboard.css" />
  <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
  <link rel="shortcut icon" href="/favicons/favicon.ico" />
  <link rel="manifest" href="/favicons/site.webmanifest" />
</head>

<body>
  <%- include('partials/header') %>

    <section class="dashboard">
      <div class="dashboard-container">

        <aside class="sidebar">
          <div class="balance-box">
            <h3>Balance</h3>
            <p>$<%= user.balance.toLocaleString() %>
            </p>
          </div>
          <ul class="sidebar-menu">
            <li class="active" data-section="statistics">Statistics</li>
            <li data-section="deposit">Deposit</li>
            <li data-section="withdraw">Withdraw</li>
            <li data-section="history">Game History</li>
            <li data-section="referral">Referral</li>
            <li data-section="rakeback">Rakeback</li>
            <li data-section="account">Account Management</li>
          </ul>
        </aside>

        <div class="content-area">

          <div id="statistics" class="content-section active">
            <%- include('partials/dashboard/section-statistics') %>
          </div>

          <div id="deposit" class="content-section">
            <%- include('partials/dashboard/section-deposit') %>
              <%- include('partials/dashboard/pagination') %>

          </div>

          <div id="withdraw" class="content-section">
            <%- include('partials/dashboard/section-withdraw') %>
              <%- include('partials/dashboard/pagination') %>

          </div>

          <div id="history" class="content-section">
            <%- include('partials/dashboard/section-history') %>
              <%- include('partials/dashboard/pagination') %>

          </div>

          <div id="rakeback" class="content-section">
            <%- include('partials/dashboard/section-rakeback') %>
              <%- include('partials/dashboard/pagination') %>

          </div>

          <div id="referral" class="content-section">
            <%- include('partials/dashboard/section-referral') %>

              <%- include('partials/dashboard/pagination') %>
          </div>

          <div id="account" class="content-section">
            <%- include('partials/dashboard/section-account') %>
          </div>

        </div>
      </div>
    </section>

    <%- include('partials/footer') %>

      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/dashboard.js"></script>
      <script src="/js/withdraw.js"></script>
</body>

</html>